@charset "UTF-8";
body #header_page nav#mainNav ul.nav_main > li {
    /* display: none; */
}
body {
    height: auto !important;
    min-height: auto !important;
}
.truncated-blurb {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.video-blank {
    grid-template-columns: repeat(1, 1fr) !important;
}

article.article_main.article_single main.full_container,
article.article_main.article_single header.full_container {
    padding: 0;
    margin: 0 auto;
    max-width: 100%;
    width: 100%;
}
article.article_main.article_single
    main.full_container
    .timeline_section_group {
    padding: 0;
    padding-top: 0px;
    padding-bottom: 30px;
}
.timeline_section_group:first-child {
    padding-top: 20px;
}
.timeline_section_group:nth-child(2n) {
    background: aliceblue;
}
.timeline_section_group_inner,
article.article_main.article_single header.full_container .main_timeline_title {
    padding: 0;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    max-width: 960px;
    z-index: 1;
    position: relative;
}
.timeline_section_group_inner.main-div-vedio {
    padding-top: 30px;
    max-width: 620px;
}
article.article_main.article_single
    header.full_container
    .main_timeline_title
    h1 {
    font-size: 2.1rem;
}
.summary_content_description {
    margin-top: 30px;
    margin-bottom: 0px;
}
.main-div-vedio .summary_content_description {
    margin-top: 10px;
}
article.article_main.article_single .summary_content_description p {
    font-size: 1rem;
    line-height: 1.46;
    margin: 0px;
}
.summary_read_more {
    transition: color 600ms ease-in-out;
    color: #006291 !important;
    font-weight: 600;
    text-decoration: none;
}
.timeline_title {
    margin-bottom: 40px;
}
article.article_main.article_single main .timeline_title h3 {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 2rem;
}
.timeline_section {
    position: relative;
}
.timeline_list {
    position: relative;
}
.timeline_item {
    width: 100%;
    position: relative;
    margin-bottom: 60px;
}
.timeline_item:last-child {
    margin-bottom: 0px;
}
.timeline_item_inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}
.timeline_item:nth-child(2n) .timeline_item_inner {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: reverse !important;
    -ms-flex-direction: row-reverse !important;
    flex-direction: row-reverse !important;
}
.timeline_item_cart {
    position: relative;
    -webkit-filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0));
    filter: drop-shadow(0 0 0 rgba(0, 0, 0, 0));
    -webkit-box-shadow: 0 0 5px rgba(40, 40, 40, 0.15);
    box-shadow: 0 0 5px rgba(40, 40, 40, 0.15);
    border-radius: 7px;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 100%;
    flex: 0 1 100%;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    -webkit-animation: fadeInLeftShort 1s;
    animation: fadeInLeftShort 1s;
    background-color: #64b6e0;
    background-color: #f0f8ff;
    background-color: #fff;
    transition: all 600ms ease-in-out;
}
.timeline_section_group:nth-child(2n) .timeline_item_cart {
    background-color: #fff;
}
.timeline_item_cart:hover,
.timeline_item_cart:hover .timeline_item_cart_inner_arrow {
    -webkit-box-shadow: 0 0 5px rgba(40, 40, 40, 0.4);
    box-shadow: 0 0 5px rgba(40, 40, 40, 0.4);
    transition: all 600ms ease-in-out;
}
.timeline_item_cart a {
    text-decoration: none;
    color: inherit;
}
.timeline_item_cart a:hover .timeline_item_cart_content_title {
    transition: color 600ms ease-in-out;
}
.timeline_item.active .timeline_item_cart {
    background: linear-gradient(
        to right top,
        #0079b4,
        #0071a8,
        #00699c,
        #006190,
        #005985
    );
}
.timeline_item_cart_inner {
    border-radius: inherit;
    background-color: inherit;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    overflow: hidden;
}
.timeline_item_cart_content {
    position: relative;
    z-index: 2;
    padding: 40px;
    padding: 25px 30px;
    background: #fff;
    border-radius: 10px;
}
.timeline_item_cart_content .timeline_item_cart_content_title {
    /*color: #FFFFFF;*/
    margin: 0px;
    margin-bottom: 10px;
    transition: color 600ms ease-in-out;
}
.timeline_item_cart_content_description {
    /*color: #FFFFFF;*/
    margin: 0;
}
.timeline_item_cart_content_link {
    margin-top: 5px;
}
.timeline_item_cart_content_link span {
    transition: color 600ms ease-in-out;
    color: #789bac;
    color: #006291;
}
.timeline_item_cart_inner_arrow {
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: inherit;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    z-index: -1;
    -webkit-box-shadow: 0 0 5px rgba(40, 40, 40, 0.15);
    box-shadow: 0 0 5px rgba(40, 40, 40, 0.15);
    top: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-45deg);
    -ms-transform: translate(-50%, -50%) rotate(-45deg);
    transform: translate(-50%, -50%) rotate(-45deg);
    left: 100%;
    background: #fff;
}
.timeline_item:nth-child(2n)
    .timeline_item_inner
    .timeline_item_cart_inner_arrow {
    left: 0;
}
.timeline_item_point {
    margin-left: 35px;
    margin-right: 35px;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}
.timeline_item_point_content {
    height: 40px;
    width: 40px;
    background-color: #64b6e0;
    min-width: 10px;
    min-height: 10px;
    border-radius: 50%;
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    overflow: hidden;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-animation: stratumTimelinePointBounce 0.75s;
    animation: stratumTimelinePointBounce 0.75s;
}

.timeline_item_meta {
    display: block;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 50%;
    flex: 1 1 50%;
    font-size: 14px;
    -webkit-animation: fadeInRightShort 1s;
    animation: fadeInRightShort 1s;
}
.timeline_item:nth-child(2n) .timeline_item_inner .timeline_item_meta {
    /* text-align: right;*/
}
.rc_postreadmore a,
.rc_postreadmore {
    color: #006291;
    text-decoration: none;
    text-decoration: none;
    font-size: 16px;
}
.timeline_line_progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: #64b6e0;
}
progress {
    -webkit-appearance: none;
    appearance: none;
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(calc(-50% + 3px), calc(50vh - 50%)) rotate(90deg);
    width: 100vh;
    height: 6px;
}

progress::-webkit-progress-bar {
    background-color: #f5f5f5;
}

progress[value="100"]::-webkit-progress-bar {
    background-color: #fd79a8;
}

progress::-webkit-progress-value {
    background-color: #fd79a8;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
article.article_main.article_single main .nav {
    position: fixed;
    top: 50%;
    right: 60px;
    list-style: none;
    z-index: 997;
    height: auto;
    transform: translateY(-50%);
    margin-top: 20px;
}
article.article_main.article_single main .nav:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    background: rgb(223 223 223 / 30%);
}
article.article_main.article_single main .dot-nav {
    list-style: none;
    position: relative;
    z-index: 5;
    margin: 0;
    display: none;
    flex-direction: column;
}
article.article_main.article_single main .dot-nav.fixed {
    display: flex;
}
.dot-nav a {
    display: flex;
    background: #ddd;
    width: 14px;
    height: 14px;
    border-radius: 100%;
    vertical-align: middle;
}
.dot-nav a:hover {
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    background-color: #006291;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}
.dot-nav li.active a {
    background-color: #006291;
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.3);
}
article.article_main.article_single main .dot-nav li:first-child {
    margin-top: 0px;
}
article.article_main.article_single main .dot-nav li:last-child {
    margin-bottom: 0px;
}
article.article_main.article_single main .dot-nav li {
    margin: 5px 0;
    line-height: 1;
    position: relative;
}
.dot-nav li span {
    opacity: 0;
    position: absolute;
    vertical-align: middle;
    color: #fff;
    background: #000;
    padding: 4px 7px;
    margin-right: 9px;
    border-radius: 4px;
    -webkit-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    font-size: 14px;
    right: 100%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    word-break: auto-phrase;
    word-break: keep-all;
    display: none;
}
.dot-nav li.active span {
    opacity: 1;
    display: block;
}
.dot-nav li span b {
    display: block;
    font-size: 18px;
    line-height: 1;
    margin-bottom: 5px;
}
.dot-nav li a:hover + span {
    opacity: 1;
}
.summary_model_popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(0 0 0 / 50%);
    cursor: pointer;
}
.summary_model_popup_inner {
    background: #fff;
    padding: 20px 30px;
    max-width: 900px;
    max-height: 90vh;
    overflow: auto;
    position: relative;
    cursor: auto;
}
.summary_model_popup_inner h3 {
    margin-top: 0px;
}
.summary_model_popup_colse {
    position: absolute;
    right: 10px;
    top: 15px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    opacity: 0.7;
}
.summary_model_popup_colse:before,
.summary_model_popup_colse:after {
    content: "";
    position: absolute;
    top: 14px;
    left: 6px;
    margin-left: auto;
    margin-right: auto;
    justify-self: center;
    width: 18px;
    height: 2px;
    background-color: #000;
    transition: all 300ms ease-in-out;
}
.summary_model_popup_colse:before {
    transform: rotate(45deg);
}
.summary_model_popup_colse:after {
    transform: rotate(-45deg);
}
.timeline_popup_content {
    display: flex;
    flex-wrap: wrap;
    grid-gap: 20px;
}
.timeline_popup_content_img {
    width: 300px;
    display: flex;
    overflow: hidden;
}
.timeline_popup_content_img img {
    object-fit: cover;
}
.timeline_popup_content_description {
    width: calc(100% - 320px);
}
article.article_main.annual-report-page {
    overflow: visible;
}

.summary_model_popup_inner {
    padding-top: 30px;
    max-width: 90%;
    padding: 0px;
    min-width: 90%;
}
.summary_content_popup_body {
    padding: 0px 30px 30px 30px;
}
.timeline_popup_related_items ol.collection_content {
    grid-template-columns: repeat(3, 1fr);
}
article.article_main.article_single .timeline_popup_related_items footer {
    padding: 0;
}
article.article_main.article_single
    .timeline_popup_related_items
    footer
    #attachments {
    max-width: none;
    border: none;
    padding: 0;
    margin-bottom: 0;
}
article.article_main.article_single
    .timeline_popup_related_items
    article
    > header {
    padding-top: 0;
    padding-left: 15px;
}
.timeline_popup_related_items ol.collection_content li article {
    padding-bottom: 0px;
    background-color: aliceblue;
}
.timeline_popup_related_items article.card-article header {
    grid-template-rows: 40px calc((100vw - 140px) / 3 / 2) auto;
}
.timeline_popup_related_items article.card-article figure {
    height: calc((100vw - 140px) / 3 / 2);
}
.timeline_popup_related_items article.card-article {
    grid-template-rows: 40px calc((100vw - 140px) / 3 / 2) auto auto;
}
article.article_main.article_single
    .timeline_popup_related_items
    footer
    #attachments
    .attachment_group
    article.resource_subtype_file {
    padding: 0;
}
article.article_main.article_single
    .timeline_popup_related_items
    footer
    #attachments
    .attachment_group
    article.resource_subtype_file
    h4 {
    margin-left: 0;
}

.sidebar__widget {
    /*
    padding: 25px;
    background: #f0f8ff;*/
}
article.article_main.article_single main h3.sidebar__widget-title {
    position: relative;
    display: inline-block;
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: 600;
    text-transform: capitalize;
    margin-top: 0px;
}
.d-flex {
    display: flex !important;
}
.align-items-center {
    align-items: center !important;
}
.mb-20 {
    margin-bottom: 20px;
}
.mr-20 {
    margin-right: 20px;
}
.rc__post-thumb img {
    width: 80px;
    height: 80px;
    object-fit: cover;
}
.mb-10 {
    margin-bottom: 10px;
}
.rc__post {
    background: #f0f8ff;
    padding: 10px 15px;
    border-radius: 5px;
    position: relative;
    width: 100%;
}
.rc__meta span {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
}
article.article_main.article_single main h3.rc__post-title {
    margin-bottom: 6px;
    font-size: 16px;
    margin-top: 2px;
}
article.article_main.article_single main h3.rc__post-title a {
    text-decoration: none;
    color: #333;
}

.tooltip-text {
    visibility: hidden;
    position: absolute;
    z-index: 1;
    width: 100%;
    color: white;
    font-size: 12px;
    background-color: #ffffff;
    border-radius: 5px;
    padding: 15px 15px 15px 15px;
    box-shadow: 1px 2px 5px rgb(0 0 0 / 54%);
    color: #333;
    left: 0px;
}

.hover-text:hover .tooltip-text {
    visibility: visible;
}

.hover-text {
    width: auto;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.tooltip-text .rc__post-thumb {
    width: 80px;
}
.tooltip-text .rc__post-content {
    width: calc(100% - 100px);
}
.tooltip-text .rc__post {
    background: #fff;
    padding: 0px;
}
.bgwhite {
    background: #fff !important;
}
article.article_main.article_single main .tooltip-text p {
    font-size: 15px;
    margin: 0px;
    line-height: normal;
}
.timeline_section_group:nth-child(2n) .rc__post {
    background: #fff;
}
.without-highlight {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: relative;
}
.without-highlight .rc__post {
    width: calc(50% - 55px);
    margin-bottom: 20px;
}
.sidebar__post a,
.rc__post a {
    text-decoration: none;
    color: #333;
}
.summary_model_popup_inner h3 {
    padding: 15px 30px;
    background-color: #f0f8ff;
    font-size: 1.5rem;
    margin: 0px;
}
article.article_main.article_single.annual-report-page main.full_container {
    margin-top: 25px;
}
.timeline_line {
    display: none;
}

.timeline_section:before,
.without-highlight:before {
    position: absolute;
    content: " ";
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 2px;
    background: #64b6e0;
    height: 0;
    transition: height 0.2s;
    -webkit-transition: opacity 0.55s cubic-bezier(0.23, 1, 0.32, 1),
        height 1.8s ease-out;
    -moz-transition: opacity 0.55s cubic-bezier(0.23, 1, 0.32, 1),
        height 1.8s ease-out;
    transition: opacity 0.55s cubic-bezier(0.23, 1, 0.32, 1), height 1.2s;
    transition: all 0.7s;
}
.timeline_section.aos-init.aos-animate:before,
.without-highlight.aos-init.aos-animate:before {
    height: 100%;
    transition: height 5s;
}
.rc__post:hover,
.sidebar__widget-content:hover {
    z-index: 9;
    position: relative;
}
.main_vertical_timeline:hover {
    position: relative;
    z-index: 9;
}
/*
.timeline_line{
    background-color: #DEE3E6;
    width: 2px;
    height: calc(100% - 400px);
	height: 100%;
    left: 50%;
    top: 200px;
	top: 0px;
    position: absolute;
    margin: 0 auto;
	margin-left: -1px;
}
.without-highlight:before {
    content: "";
    position: absolute;
    left: 50%;
    top: 0;
    width: 2px;
    height: 100%;
    background: #dee3e6;
}
*/

@media only screen and (min-width: 1448px) {
    article.article_main.article_single.annual-report-page header {
        grid-template-columns: auto;
    }
}
@media only screen and (max-width: 992px) {
    article.article_main.article_single.annual-report-page main .nav {
        margin-top: 0px;
        right: 20px;
    }
    article.article_main.article_single.annual-report-page main.full_container {
        padding-right: 30px;
    }
}
@media only screen and (max-width: 767px) {
    .hover-text:hover .tooltip-text {
        visibility: hidden;
    }
    article.article_main.article_single.annual-report-page main.full_container {
        padding-right: 0px;
        margin-top: 0px;
    }
    article.annual-report-page {
        .timeline_section_group_inner.main-div-vedio {
            padding-top: 10px;
        }
    }
    article.article_main.article_single
        main.full_container
        .timeline_section_group {
        padding-top: 0px;
    }
    .without-highlight .rc__post {
        width: 100%;
        margin-bottom: 20px;
    }
    .timeline_title {
        margin-bottom: 25px;
        padding-left: 0px;
        text-align: left;
        h3 {
            font-size: 24px !important;
        }
    }
    article.article_main.article_single main .timeline_title h3 {
        text-align: left;
    }
    .timeline_item {
        margin-bottom: 0px;
    }
    .timeline_item_cart_inner_arrow,
    .timeline_item:nth-child(2n)
        .timeline_item_inner
        .timeline_item_cart_inner_arrow {
        top: 48px;
        left: 0px;
    }
    .timeline_item_point {
        margin-top: 25px;
        text-align: center;
        flex: inherit;
        -webkit-box-flex: initial;
        width: auto;
        display: flex;
        justify-content: center;
        margin: 25px 0px 0px;
        position: absolute;
        left: 0px;
        top: 0px;
    }
    .timeline_item_inner {
        flex-wrap: wrap;
        flex-direction: column;
        display: inline-block;
        padding-left: 55px;
        width: 100%;
        padding-right: 20px;
    }
    .timeline_item_cart,
    .timeline_item_meta {
        flex: 1 1 100%;
        width: 100%;
    }
    .timeline_item_meta {
        margin-top: 20px;
    }
    .rc__post {
        width: 100%;
    }
    /*
	.timeline_line{
		left: 20px;
		top: 30px;
	    height: calc(100% - 50px);
	}
*/
    article.article_main.article_single main .nav {
        right: 10px;
    }
    .summary_content_popup_body {
        padding: 0px 30px 30px;
    }
    .summary_content_description {
        margin-top: 30px;
        margin-bottom: 10px;
    }
    .without-highlight:before {
        left: 20px;
    }
    .without-highlight {
        padding-left: 60px;
    }
    .timeline_section:before,
    .without-highlight:before {
        left: 20px;
        transform: none;
    }
    .timeline_item_cart_content {
        padding: 10px;
        .timeline_item_cart_content_title {
            margin: 0;
            font-size: 14px;
        }
        .timeline_item_cart_content_link {
            margin-top: 0;
            span {
                font-size: 12.5px;
            }
        }
    }
    ol.collection_content.highlight {
        padding-bottom: 0;
    }
    article.article_main.article_single.annual-report-page {
        header.full_container {
            position: sticky;
            top: 32px;
            z-index: 1000;
            .main_timeline_title {
                margin: unset;
                padding: 5px 20px;
                h1 {
                    font-size: 24px;
                }
            }
        }
    }
    .dot-nav {
        a {
            width: 10px;
            height: 10px;
        }
    }
    .timeline_section_group_inner {
        padding-right: 30px;
    }
    article.article_main.article_single {
        .summary_content_description {
            p {
                font-size: 15px;
            }
        }
    }
    .timeline_item_meta {
        margin-top: 10px;
    }
    .mb-20 {
        margin-bottom: 10px;
    }
    .rc__post {
        padding: 10px;
    }
    article.article_main.article_single main {
        h3.rc__post-title {
            font-size: 14px;
            margin-bottom: 5px;
        }
    }
    .rc_postreadmore {
        font-size: 12px;
    }
}

.summary_content_popup .video {
    width: 30%;
}
.video-blank {
    grid-template-columns: repeat(1, 1fr) !important;
}
.figure_preset_card.custom-iframe iframe {
    width: 100% !important;
    height: calc((100vw - 20px) / 1.9) !important;
    padding: 0 !important;
}

.twitter-tweet.twitter-tweet-rendered {
    max-width: 100% !important;
    width: 100% !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

@media only screen and (min-width: 748px) {
    .figure_preset_card.custom-iframe iframe {
        width: 100% !important;
        height: calc((100vw - 160px) / 1.9 / 2) !important;
        padding: 0 !important;
    }
    article.article_main.article_single.annual-report-page {
        header.full_container {
            position: sticky;
            top: 40px;
            z-index: 1000;
        }
        .timeline_section_group_inner.main-div-vedio {
            padding-top: 10px;
        }
        .summary_content_description {
            p {
                font-size: 15px;
            }
        }
        .timeline_title {
            h3 {
                font-size: 20px;
            }
        }
        main.full_container {
            margin-top: 0;
            .timeline_title {
                margin-bottom: 20px;
                h3 {
                }
            }
            .timeline_section_group {
                padding-bottom: 10px;
            }
        }
        main {
            h3.rc__post-title {
                font-size: 14px;
                margin-top: 0;
                margin-bottom: 5px;
            }
            .rc_postreadmore {
                font-size: 11px;
            }
            .rc__meta {
                span {
                    font-size: 11px;
                }
            }
        }
    }
    .timeline_section_group_inner,
    article.article_main.article_single
        header.full_container
        .main_timeline_title {
        padding-left: 80px;
        margin: unset;
    }
    article.article_main.article_single {
        header.full_container {
            .main_timeline_title {
                h1 {
                    font-size: 24px;
                }
            }
        }
    }
    .dot-nav {
        li {
            margin: 8px 0;
        }
        a {
            width: 10px;
            height: 10px;
        }
    }
    .summary_read_more {
        display: block;
        margin-top: 10px;
        font-weight: 400;
    }
    .rc__post {
        padding: 10px;
    }
    .timeline_item_cart_content {
        padding: 10px;
        .timeline_item_cart_content_title {
            margin-bottom: 0px;
            font-size: 14px;
        }
        .timeline_item_cart_content_link {
            margin-top: 0;
            span {
                font-size: 11px;
            }
        }
    }
    .tooltip-text {
        padding: 10px;
        .rc__post {
            display: grid !important;
            grid-gap: 10px;
            .rc__post-thumb {
                width: 100%;
                margin: 0;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .rc__post-content {
            width: 100%;
            h3.rc__post-title {
                margin: 0;
            }
        }
        p {
            font-size: 12px !important;
            line-height: 16px !important;
            margin-top: 0 !important;
        }
    }
}

@media only screen and (min-width: 1024px) {
    .figure_preset_card.custom-iframe iframe {
        width: 100% !important;
        height: calc((100vw - 140px) / 1.9 / 2) !important;
        padding: 0 !important;
    }
    article.article_main.article_single.annual-report-page {
        main {
            .nav {
                right: 20px;
            }
            .rc_postreadmore {
                font-size: 12px;
            }
        }
        .timeline_item_cart_content {
            .timeline_item_cart_content_link {
                span {
                    font-size: 12px;
                }
            }
        }
        .timeline_section_group_inner {
            max-width: calc(100% - 60px);
        }
        .main-div-vedio {
            .summary_content_description {
                max-width: 720px;
            }
        }
    }
}

@media only screen and (min-width: 1448px) {
    .figure_preset_card.custom-iframe iframe {
        height: 239.1228070175px !important;
    }
    article.article_main.article_single.annual-report-page {
        .timeline_title {
            h3 {
                font-size: 24px;
            }
        }
        .timeline_item_cart_content {
            .timeline_item_cart_content_title {
                font-size: 18px;
            }
            .timeline_item_cart_content_link {
                span {
                    font-size: 14px;
                }
            }
        }
        main {
            h3.rc__post-title {
                font-size: 18px;
            }
            .rc__meta {
                span {
                    display: block;
                    font-size: 14px;
                    margin-bottom: 5px;
                    letter-spacing: 0.5px;
                }
            }
            .rc_postreadmore {
                font-size: 14px;
            }
            .nav {
                right: calc((100% - 1448px) / 2 + 20px);
            }
        }
        .tooltip-text {
            padding: 0px;
            max-width: 480px;
            p {
                font-size: 14px !important;
                line-height: 18px !important;
            }
            .rc__post {
                grid-gap: 12px;
            }
        }
        .timeline_item_cart_content {
            padding: 15px;
        }
        .rc__post {
            padding: 15px;
        }
    }
}

.main-div-vedio ol.collection_content li .timeline_section_group_inner {
    padding-left: 0px;
    padding-bottom: 0px;
}

ol.collection_content.highlight {
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 20px;
}
.back-to-annual-report-button {
    a {
        padding-left: 30px;
        padding-right: 30px;
    }
}
//Added by cyblance for print PDF report-section start
article.article_main.article_single.annual-report-page header.full_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ol.files.pdf-file-button{
    margin: 10px;
    position: relative;
    display: inline-block;
}
.a-tag-pdf-button{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 7px 20px;
    border-radius: 3px;
    text-decoration: none;
    font-size: smaller;
    background-color: #0079b4;
    color: #fff;
}
//Added by cyblance for print PDF report-section end
