.map_container {
    display: grid;
    > span {
        grid-row: 1/2 !important;
    }
}

.map_map {
    position: relative;
    display: block;
    width: 100%;
    height: 50vh;
    grid-row: 1/2;
    grid-column: 1/2;
}

.map_zoomcontrols {
    position: relative;
    display: grid;
    width: fit-content;
    grid-row: 1/2;
    grid-column: 1/2;
    align-self: flex-end;
    margin-left: 15px;
    button {
        position: relative;
        display: flex;
        border-radius: 50%;
        overflow: hidden;
        width: 24px;
        height: 24px;
        box-sizing: border-box;
        padding: 0;
        text-align: center;
        line-height: 18px;
        font-size: 16px;
        font-weight: 700;
        margin: auto;
        margin-bottom: 10px;
        align-content: center;
        justify-content: center;
        border: none;
        color: rgb(0, 121, 180);
        background-color: white;
        &[disabled] {
            opacity: 0.33;
            cursor: default !important;
        }
    }
}

.map_year_range {
    position: relative;
    grid-row: 2/3;
    grid-column: 1/2;
    display: grid;
    padding: 0px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
    h3 {
        position: relative;
        display: block;
        font-size: 12px;
        margin-bottom: 5px;
        color: #777;
        text-align: left;
        grid-row: 2/3;
        margin-top: 0;
    }
    .MuiSlider-root {
        grid-column: 1/3;
    }
    > span + span {
        position: relative;
        display: block;
        font-size: 12px;
        text-align: right;
        margin: 0;
        padding: 0;
        color: #777;
    }
    .MuiSlider-valueLabel {
        font-size: 10px !important;
    }
}

.map_sidebar {
    background-image: linear-gradient(
        to right top,
        #f0f8ff,
        #f2f9fe,
        #f4f9fd,
        #f6fafc,
        #f8fafb
    );
    padding: 20px;
    margin-top: 20px;
    h3 {
        position: relative;
        display: block;
        margin: 0;
        margin-bottom: 5px;
        font-size: 20px;
        _color: rgb(19, 78, 117);
    }
    p {
        position: relative;
        display: block;
        margin: 0;
        margin-bottom: 5px;
        font-size: 14px;
        _color: rgb(19, 78, 117);
    }
    ul {
        position: relative;
        display: block;
        padding: 0;
        list-style: none;
        margin-bottom: 0;
        li {
            position: relative;
            display: grid;
            margin-bottom: 10px;
            grid-template-columns: auto 3fr;
            grid-template-rows: auto 1fr;
            grid-column-gap: 10px;
            img {
                position: relative;
                display: block;
                grid-column: 1/2;
                grid-row: 1/4;
                border-radius: 3px;
                overflow: hidden;
                object-fit: cover;
                width: 80px;
                height: 100%;
            }
            h4 {
                position: relative;
                display: block;
                grid-row: 2/3;
                grid-column: 2/3;
                font-size: 11px;
                line-height: 15px;
                align-self: flex-start;
                margin: 0;
                padding-right: 10px;
            }
            span.map_sidebar_item_date {
                position: relative;
                display: block;
                grid-row: 1/2;
                grid-column: 2/3;
                font-size: 10px;
                padding-top: 5px;
            }
            span.map_sidebar_item_collections {
                position: relative;
                display: block;
                grid-row: 3/4;
                grid-column: 2/3;
                font-size: 14px;
                padding-bottom: 8px;
                text-transform: lowercase;
                font-variant: small-caps;
                letter-spacing: 0.5px;
                font-weight: 700;
                color: #789bac;
                line-height: 1;
            }
            a {
                position: relative;
                display: block;
                grid-column: 1/3;
                grid-row: 1/4;
                width: 100%;
                line-height: 100%;
                height: 100%;
                text-indent: -999em;
            }
        }
    }
    display: none;
    &.active {
        display: block;
        grid-row: 1/4;
        grid-column: 1/2;
        z-index: 100;
        background-color: rgb(198, 217, 230);
        margin-top: 0;
        margin-left: 15px;
        box-shadow: 0 2px 10px #333;
        box-sizing: border-box;
        height: 40vh;
        overflow: hidden;
        position: fixed;
        z-index: 10000;
        height: fit-content;
        width: calc(100% - 30px);
        max-height: calc(100vh - 100px);
        margin-top: 20px;
        ul {
            height: fit-content;
            box-sizing: border-box;
            overflow-y: scroll;
        }
        #collection_main & {
            position: absolute;
            margin-left: 0;
            box-shadow: 0 0px 5px #999;
            background-image: linear-gradient(
                to left bottom,
                #f34b52,
                #db444a,
                #c43d42,
                #ad363b,
                #972f33
            );
            padding: 16px;
            margin-top: 0;
            padding-top: 10px;
            padding-bottom: 20px;
            h3 {
                color: white;
            }
            p {
                color: white;
                font-size: 12px;
                line-height: 18px;
            }
            ul {
                margin-left: -5px;
                margin-right: -5px;
                li {
                    grid-row-gap: 5px;
                    h4 {
                        font-size: 12px;
                    }
                    span {
                    }
                }
            }
        }
    }
}
.map_legend {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-gap: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
    dt {
        grid-column: 1/2;
        span {
            position: relative;
            display: block;
            width: 20px;
            height: 20px;
            &.activity_high {
                background-color: #005782;
            }
            &.activity_medium {
                background-color: #0079b4;
            }
            &.activity_low {
                background-color: #70a6c1;
            }
            &.activity_none {
                background-color: white;
            }
        }
    }
    dd {
        grid-column: 2/3;
        font-size: 14px;
        margin-left: 10px;
    }
}
.map_sidebar_opener {
    position: absolute;
    left: 12px;
    bottom: 150px;
    display: flex;
    border-radius: 50%;
    overflow: hidden;
    width: 30px;
    height: 30px;
    box-sizing: border-box;
    padding: 0;
    text-align: center;
    line-height: 26px;
    font-size: 16px;
    font-weight: 700;
    margin: auto;
    margin-bottom: 10px;
    align-content: center;
    justify-content: center;
    border: none;
    color: rgb(0, 121, 180);
    background-color: white;
    #collection_main & {
        display: block;
        right: 20px;
        grid-column: 2/3;
        margin: 0;
        left: unset;
        border: 2px #999 solid;
        line-height: 1;
        width: 28px;
        height: 28px;
        bottom: unset;
        box-shadow: 0 0 10px #999;
        color: var(--theme-color-base);
        top: 16px;
    }
}
.map_sidebar_closer {
    position: absolute;
    right: 8px;
    display: flex;
    border-radius: 50%;
    overflow: hidden;
    width: 24px;
    height: 24px;
    box-sizing: border-box;
    padding: 0;
    text-align: center;
    line-height: 14px;
    font-size: 25px;
    font-weight: 400;
    margin: auto;
    margin-bottom: 10px;
    align-content: center;
    justify-content: center;
    top: 5px;
    border: none;
    color: #aaa;
    background-color: white;
    &:hover {
        cursor: pointer;
    }
    #collection_main & {
        border: 2px #972f33 solid;
        line-height: 12px;
        color: #972f33;
        z-index: 5000;
        top: 6px;
        right: 6px;
    }
}
.rsm-geography {
    #collection_main & {
        stroke: lightgray;
    }
}
.rsm-geography:hover {
    cursor: default;
    #collection_main & {
        cursor: pointer;
    }
}

@each $activity-level in low, medium, high {
    .rsm-geography.activity_#{activity-level} {
        &:hover {
            cursor: pointer !important;
        }
    }
}

.page_collection_layout_dossier_map {
    .blendmask {
        display: none !important;
    }
}
.rsm-geography {
    outline-color: white !important;
}
.activity_low {
    fill: #70a6c1;
    outline-color: white !important;
    transition: all 400ms ease-in-out;
}
.activity_medium {
    fill: #0079b4;
    outline-color: white !important;
    transition: all 400ms ease-in-out;
}
.activity_high {
    fill: #005782;
    outline-color: white !important;
    transition: all 400ms ease-in-out;
}
.activity_none {
    fill: white;
    outline-color: white !important;
}

path.activity_low,
path.activity_medium,
path.activity_high {
    &:hover {
        cursor: pointer;
    }
}

body.page_collection_layout_dossier_map {
    #main_page {
        background-image: linear-gradient(
            to top,
            #005782,
            #507ca0,
            #86a4bf,
            #bacdde,
            #f0f8ff
        );
        header.landing_header {
            margin-top: 0 !important;
            position: relative;
            height: fit-content;
            background-color: white;
            padding-top: 10px;
            h2 {
                color: #005782;
                text-shadow: none;
                margin-bottom: 0;
            }
            .link_back {
                color: #333 !important;
                text-shadow: none;
                margin-bottom: 0px;
                letter-spacing: 0;
                a {
                    color: #333;
                }
            }
        }
        #map_collection_count_items {
            position: relative;
            display: block;
            width: 100%;
            padding: 15px 15px;
            padding-left: 0;
            padding-right: 0;
            padding-top: 0;
            box-sizing: border-box;
            overflow: hidden;

            padding-bottom: 0;
        }
        article.article_main.collection_introduction {
            background-color: white !important;
            padding-top: 0;
            p {
                margin-top: 10px;
                font-size: 15px;
            }
        }
        main#collection_main {
            padding-top: 15px;
            section.collection_content {
                h3 {
                    border-top: 0;
                    padding-top: 0 !important;
                }
            }
        }
        ol.collection_content {
            li {
                article.card-article {
                    margin-bottom: 0;
                    background-image: linear-gradient(
                        to right top,
                        #f0f8ff,
                        #f2f9fe,
                        #f4f9fd,
                        #f6fafc,
                        #f8fafb
                    );
                    figure {
                        padding-bottom: 10px;
                        margin-bottom: 0;
                    }
                    header {
                        padding-left: 15px;
                        span.first-collection {
                            margin-top: 0 !important;
                            position: relative;
                            display: block;
                            font-size: 18px !important;
                        }
                        h4 {
                            font-size: 18px;
                            font-style: normal;
                            margin-top: 5px;
                        }
                    }
                    p {
                        font-size: 14px;
                        padding-left: 15px;
                    }
                    > span {
                        box-shadow: none;
                        font-size: 12px;
                        font-weight: 700;
                        margin-top: 0;
                        padding-left: 15px;
                        background-color: #0079b4 !important;
                        color: #f0f8ff !important;
                    }
                }
            }
        }
    }
}

#dossier_subnavigation {
    display: none !important;
}

.MuiTooltip-tooltip {
    background-color: white !important;
    padding: 4px 8px;
    .map_annotation {
        text-align: left;
        span {
            color: #333;
            display: block;
            &.title {
                font-weight: 700;
                font-size: 11px;
            }
            &.label {
                font-weight: 400;
                font-size: 10px;
            }
        }
    }
    .MuiTooltip-arrow {
        color: white;
    }
}
.item_count_map_container {
    background-image: linear-gradient(
        to right top,
        #efefef,
        #f3f3f3,
        #f7f7f7,
        #fbfbfb,
        #ffffff
    );
}
@media screen and (max-width: 747px) {
    .map_year_range {
        background-color: white;
        border-bottom: 5px aliceblue solid;
        padding-bottom: 10px;
        padding-top: 5px;
        h3 {
            font-weight: 400;
        }
        > span {
            font-weight: 700;
        }
    }
    .map_sidebar_opener {
        bottom: 160px;
        line-height: 28px;
        color: #777;
    }
    .map_zoomcontrols {
        button {
            color: #777;
            line-height: 21px;
            #collection_main & {
                color: #777;
                line-height: 16px;
                border: 2px #999 solid;
                &:first-child {
                    margin-bottom: 5px;
                }
            }
        }
        #collection_main & {
            margin-left: 10px;
        }
    }
    .MuiSlider-root {
        color: #777;
    }
    .map_sidebar {
        h3 {
            font-weight: 300;
            margin-bottom: 10px;
        }
        h4 {
            font-size: 16px;
        }
        ul {
            li {
                margin-bottom: 5px;
                padding: 5px;
                background-color: white;
                align-items: end;
                grid-template-rows: 1fr auto;
            }
        }
        &.active {
            max-height: calc(100vh - 160px);
            overflow-y: auto;
        }
    }
    .map_legend {
        grid-gap: 5px;
        background-color: white;
        padding: 10px 5px;
        dt {
            span {
                border: thin #777 solid;
            }
        }
        dd {
            font-size: 12px;
        }
    }
}

@media screen and (min-width: 748px) {
    .map_sidebar_opener {
        display: none;
        #collection_main & {
            display: none;
        }
    }
    .map_sidebar_closer.close_intro {
        display: none;
    }

    .map_container {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto 1fr;
        height: 40vh;

        svg {
            grid-column: 1/2;
            grid-row: 1/2;
            width: 100%;
            height: 100%;
            padding-top: 25px;
        }
        .map_sidebar {
            display: grid;
            grid-column: 2/3;
            grid-row: 1/3;
            align-content: flex-end;
            margin-top: 0;
            padding-right: 30px;
            padding-left: 20px;
            position: relative;
            box-shadow: none;
        }
        .map_year_range {
            grid-row: 2/3;
            grid-column: 1/2;
            align-self: flex-end;
            width: 100%;
            padding-left: 30px;
            padding-right: 30px;
            margin-top: -20px;
            padding-bottom: 10px;
            background-color: white;
            border-bottom: 5px aliceblue solid;
            padding-top: 5px;
            h3 {
                text-align: left;
                grid-column: 1/2;
                grid-row: 2/3;
                margin-bottom: 0;
                margin-left: -5px;
                font-size: 10px;
                font-weight: 400;
                color: #333;
                margin-top: 5px;
            }
            .MuiSlider-root {
                grid-column: 1/3;
                border-top: 12px aliceblue solid;
                padding-top: 0;
                border-bottom: 12px aliceblue solid;
                padding-bottom: 0;
                color: #777;
            }
            > span {
                margin-right: -5px;
                font-size: 10px;
                color: #333;
                font-weight: 700;
                margin-top: 5px;
            }
        }
        .map_zoomcontrols {
            grid-row: 1/2;
            grid-column: 1/2;
            align-self: flex-end;
            width: fit-content;
            padding-left: 2px;
            margin-bottom: 20px;
            button {
                background-color: white;
                line-height: 23px;
                width: 28px;
                height: 28px;
                border: thin #aaa solid;
                color: #777;
                font-size: 20px;
                margin-bottom: 8px;
            }
        }
        #collection_main & {
            grid-template-rows: 1fr;
            grid-template-columns: 1fr 2fr;

            svg {
                grid-column: 2/3;
            }
            .map_zoomcontrols {
                grid-column: 2/3;
                justify-self: right;
                right: 30px;
                margin-bottom: 12px;
                button {
                    line-height: 18px;
                    width: 24px;
                    height: 24px;
                    font-size: 18px;
                    color: var(--theme-color-dark);
                    border: 2px var(--theme-color-dark) solid;
                    &:first-child {
                        margin-bottom: 5px;
                    }
                }
            }
        }
    }
    .item_count_map_container {
        margin-left: -40px;
        margin-right: -30px;
    }
    .map_sidebar {
        background-image: linear-gradient(
            to right top,
            #f0f8ff,
            #f2f9fe,
            #f4f9fd,
            #f6fafc,
            #f8fafb
        );
        h3 {
            font-size: 18px;
            font-weight: 300;
            margin-bottom: 10px;
        }
        h4 {
            font-size: 14px;
        }
        p {
            font-size: 11px;
            line-height: 15px;
        }
        &.active {
            display: block;
            grid-column: 2/3;
            grid-row: 1/3;
            margin-top: 0;
            padding-right: 15px;
            padding-left: 10px;
            position: relative;
            box-shadow: none;
            height: 100%;
            width: 100%;
            margin-left: 0;
            h3 {
                padding-left: 5px;
            }
            ul {
                height: calc(100% - 40px);
                li {
                    padding: 5px;
                    padding-right: 10px;
                    background-color: white;
                    margin-bottom: 5px;

                    h4 {
                        font-size: 10px;
                    }
                    #collection_main & {
                        grid-column-gap: 8px;
                        img {
                            width: 60px;
                        }
                        h4 {
                            font-size: 10px;
                            hyphens: auto;
                        }
                        span.map_sidebar_item_collections {
                            font-size: 11px;
                        }
                    }
                }
            }
            h3 {
                font-size: 16px;
            }
        }
        #collection_main & {
            grid-column: 1/2;
            grid-row: 1/2;
            padding-right: 20px;
            background-image: linear-gradient(
                to left bottom,
                var(--theme-color-gradient-1),
                var(--theme-color-gradient-2),
                var(--theme-color-gradient-3),
                var(--theme-color-gradient-4),
                var(--theme-color-gradient-5)
            );
            align-content: flex-start;
            h3 {
                color: white;
                font-size: 20px;
                padding-left: 0;
            }
            p {
                color: white;
                font-size: 12px;
            }
            &.active {
                position: relative;
            }
            ul {
                li {
                    h4 {
                        font-size: 10px;
                        line-height: 12px;
                    }
                    span {
                        font-size: 9px;
                    }
                }
            }
        }
    }

    .map_legend {
        margin-top: 0px;
        background-color: white;
        padding: 10px;
        border-radius: 3px;
        grid-gap: 8px;
        dd {
            font-size: 10px;
            margin-left: 0;
        }
        dt {
            span {
                height: 15px;
                width: 15px;
                border: 1px #999 solid;
            }
        }
    }

    body.page_collection_layout_dossier_map {
        #main_page {
            header.landing_header.stuck {
                padding-left: 60px;
                h2 {
                    font-size: 12px;
                }
                a.link_back {
                    font-size: 18px !important;
                }
            }
            #map_collection_count_items {
                padding-left: 0;
                padding-right: 0;
                padding-top: 30px;
                margin-top: 0;
            }
            header.landing_header {
                padding-top: 20px;
                padding-left: 0;
                border-left: 20px #0079b4 solid !important;
                h2 {
                    font-size: 25px;
                    margin-bottom: 10px;
                }
                .link_back {
                    font-size: 18px !important;
                    margin-bottom: 0;
                }
            }
            article.article_main.collection_introduction {
                padding-bottom: 0px !important;
                p {
                    font-size: 14px;
                    margin-top: 0;
                }
            }
            main#collection_main {
                section.collection_content {
                    ol.collection_content {
                        display: grid;
                        grid-gap: 10px;
                        li {
                            grid-column: span 1;
                            height: 100%;
                            article.card-article {
                                background-color: aliceblue;
                                padding-bottom: 0;
                                height: 100%;
                                figure {
                                    grid-row: 1/2;
                                    padding-bottom: 0;
                                }
                                header {
                                    display: block;
                                    grid-row: 2/3;
                                    padding-left: 15px;
                                    padding-right: 15px;
                                    span.first-collection {
                                        font-size: 16px !important;
                                        margin-bottom: 5px;
                                    }
                                    h4 {
                                        margin: 0;
                                        font-size: 15px;
                                        max-width: unset;
                                    }
                                }
                                p {
                                    font-size: 12px;
                                    padding-left: 15px;
                                    padding-right: 15px;
                                    margin-top: 0;
                                    &:last-of-type {
                                        margin-bottom: 0;
                                    }
                                }
                                > span {
                                    padding: 0;
                                    padding-left: 15px;
                                }
                                a {
                                    grid-row: 1/5;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    .map_container {
        height: 60vh;
        max-height: calc(1024px / 10 * 6);
        .map_year_range {
            h3 {
                font-size: 12px;
            }
            > span {
                font-size: 12px;
            }
        }
        .map_zoomcontrols {
            button {
                &:hover {
                    cursor: pointer;
                }
            }
            #collection_main & {
                right: 16px;
                button {
                    line-height: 16px;
                }
            }
        }
    }
    .map_sidebar {
        h3 {
            font-size: 18px;
            margin-bottom: 10px;
        }
        p {
            font-size: 12px;
            line-height: 16px;
        }
        #collection_main & {
            padding-top: 10px;
            padding-left: 16px;
            h3 {
                font-size: 24px;
                margin-bottom: 32px;
            }
            p {
                font-size: 14px;
                line-height: 18px;
                margin-bottom: 10px;
            }
        }
        &.active {
            ul {
                li {
                    img {
                        grid-row: 1/4;
                        width: 80px;
                        height: 100%;
                        object-fit: cover;
                    }
                    h4 {
                        grid-row: 2/3;
                        grid-column: 2/3;
                        font-size: 11px;
                        line-height: 14px;
                        margin-bottom: 0px;
                    }
                    > span.map_sidebar_item_date {
                        grid-row: 1/2;
                        grid-column: 2/3;
                        margin-bottom: 0px;
                        margin-top: 5px;
                    }
                    > span.map_sidebar_item_collections {
                        grid-row: 3/4;
                        grid-column: 2/3;
                        margin: 0;
                    }
                    a {
                        grid-row: 1/4;
                        grid-column: 1/3;
                    }
                    transition: box-shadow 400ms ease-in-out;
                    &:hover {
                        box-shadow: 0 0 10px;
                    }
                }
            }
            #collection_main & {
                h3 {
                    margin-bottom: 10px;
                }
                ul {
                    margin-left: 0;
                    margin-right: 0;
                    height: calc(100% - 45px);
                    li {
                        grid-template-rows: 1fr auto;
                        align-items: end;
                        h4 {
                            font-size: 11px;
                            line-height: 15px;
                            padding-right: 0;
                        }
                        img {
                            width: 70px;
                        }
                        span {
                            font-size: 10px;
                        }
                        span.map_sidebar_item_date {
                            margin-top: 0;
                            line-height: 1;
                            padding-top: 10px;
                        }
                        span.map_sidebar_item_collections {
                            font-size: 12px;
                            padding-bottom: 10px;
                        }
                    }
                }
            }
        }
    }
    .item_count_map_container {
        margin-left: -35px;
        margin-right: -15px;
    }
    .map_legend {
        dt {
            span {
                height: 20px;
                width: 20px;
            }
        }
        dd {
            font-size: 12px;
        }
    }
    body.page_collection_layout_dossier_map {
        #main_page {
            main#collection_main {
                section.collection_content {
                    ol.collection_content {
                        grid-template-columns: repeat(3, 1fr);
                        li {
                            article.card-article {
                                grid-template-columns: 1fr;
                                figure {
                                    grid-column: 1/2;
                                    grid-row: 1/2;
                                }
                                header {
                                    grid-column: 1/2;
                                    grid-row: 2/3;
                                    margin: 0;
                                }
                                p {
                                    grid-column: 1/2;
                                    grid-row: 3/4;
                                    margin: 0;
                                }
                                > span {
                                    grid-column: 1/2;
                                    grid-row: 4/5;
                                    margin: 0;
                                    padding: 8px 20px;
                                    background-color: #0079b4 !important;
                                    color: #f0f8ff !important;
                                    margin-left: 15px;
                                    margin-top: 10px;
                                }
                                a {
                                    grid-column: 1/2;
                                    grid-row: 1/5;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 1448px) {
    .map_container {
        max-height: calc(1448px / 10 * 6);
        .map_year_range {
            max-width: 50%;
            padding-top: 10px;
        }
        .map_zoomcontrols {
            margin-bottom: 30px;
        }
        #collection_main & {
            max-height: 640px;
        }
    }
    .map_sidebar {
        h3 {
            font-size: 28px;
        }
        h4 {
            font-size: 18px;
            margin-top: 40px;
            margin-bottom: 20px;
        }
        p {
            font-size: 16px;
            line-height: 22px;
        }
        &.active {
            h3 {
                font-size: 24px;
            }
            ul {
                li {
                    margin-bottom: 8px;
                    h4 {
                        font-size: 14px;
                        line-height: 18px;
                    }
                    > span {
                        font-size: 14px;
                    }
                }
            }
        }
        #collection_main & {
            h3 {
                font-size: 28px;
            }
            p {
                font-size: 16px;
                line-height: 22px;
            }
            &.active {
                h3 {
                    font-size: 28px;
                }
                ul {
                    li {
                        grid-row-gap: 8px;
                        img {
                            width: 90px;
                            height: 100%;
                        }
                        h4 {
                            font-size: 15px;
                            line-height: 18px;
                        }
                        span {
                            font-size: 11px;
                        }
                        span.map_sidebar_item_date {
                            padding-top: 10px;
                        }
                        span.map_sidebar_item_collections {
                            font-size: 16px;
                            padding-bottom: 12px;
                        }
                    }
                }
            }
        }
    }
    .map_legend {
        grid-gap: 15px;
        dd {
            font-size: 15px;
            margin-left: 20px;
        }
        dt {
            span {
                height: 24px;
                width: 24px;
            }
        }
    }
    body.page_collection_layout_dossier_map {
        #main_page {
            header.landing_header {
                h2 {
                    font-size: 40px;
                }
                a.link_back {
                    font-size: 24px !important;
                }
            }
            article.article_main.collection_introduction {
                p {
                    font-size: 18px;
                }
            }
            main#collection_main {
                section.collection_content {
                    ol.collection_content {
                        li {
                            article.card-article {
                                header {
                                    h4 {
                                        font-size: 20px;
                                        margin-top: 0;
                                    }
                                    span.first-collection {
                                        font-size: 20px !important;
                                    }
                                }
                                p {
                                    font-size: 15px;
                                }
                                > span {
                                    font-size: 15px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
